body {
	margin: 100px 100px 0px 100px;
	padding: 0;
	min-height: 100%;
	background: #000000 url('oblako2.jpg') fixed top left no-repeat;
	-o-background-size: 100% 100%; 
	-webkit-background-size: 100% 100%; 
	-moz-background-size: 100% 100%; 
	-khtml-background-size: 100% 100%; 
	background-size: 100% 100%;
}

a.button24 {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
}

a.button24:hover {
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

a.button24:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500;
}

#modal_form {
	width: 320px;
	height: 350px; /* Размеры должны быть фиксированы */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px;
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
#modal_form2 {
	width: 320px;
	height: 350px; /* Размеры должны быть фиксированы */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px;
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}

#modal_form2 #modal_close2 {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
#modal_form3 {
	width: 320px;
	height: 350px; /* Размеры должны быть фиксированы */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px;
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}

#modal_form3 #modal_close3 {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Подложка */
#overlay {
	z-index: 3;
	/* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%;
	height: 100%; /* размером во весь экран */
	top: 0;
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет */
}

a {
  text-decoration: none;
  color: #fff;
}
nav {
  position: relative;
}
.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;
}
ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin-top: .8em;
  background: #777;
  min-width: 6em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}